# Inhalte ignorieren, aber Ordner behalten
data/*
!data/.gitkeep

uploads/*
!uploads/.gitkeep

menu_card/*
!menu_card/.gitkeep

flask_session/*
!flask_session/.gitkeep
__pycache__
uploads/
backups/
database.db
.env
